body {
    font-family: cursive, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #dac9c9;
    
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #f4eecb;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(169, 84, 42, 0.763);
}

label {
    display: block;
    margin-bottom: 10px;

    
}


input {
     width: 50%; 
     display: block;
     margin: 0 auto;
     text-align: center;
     margin-bottom: 40px;
     background-color: #eee1e1;
    }
    
  

button {
    padding: 10px 20px;
    background-color: #9b6060;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #a04545;
}

#resultado {
    margin-top: 20px;
    font-weight: bold;
}
